@model List<PZ_Projekt.Models.CartItem>

@{
    ViewData["Title"] = "Koszyk";
}

<div class="text-center">
    <h1 class="display-4">Twój koszyk</h1>
    @if (!Model.Any())
    {
        <p>Twój koszyk jest pusty.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Produkt</th>
                    <th>Ilość</th>
                    <th>Cena</th>
                    <th>Razem</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Item.Name</td>
                        <td>@item.Quantity</td>
                        <td>@item.Item.Price.ToString("C")</td>
                        <td>@((item.Quantity * item.Item.Price).ToString("C"))</td>
                        <td>
                            <a href="@Url.Action("RemoveFromCart", "Cart", new { id = item.Item.Id })" class="btn btn-danger">Usuń</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <h4>Suma: @Model.Sum(item => item.Quantity * item.Item.Price).ToString("C")</h4>
        </div>
        <a href="@Url.Action("Checkout", "Order")" class="btn btn-primary">Przejdź do kasy</a>
    }
</div>
