@model IEnumerable<PZ_Projekt.Models.Order>

@{
    ViewData["Title"] = "Wszystkie Zamówienia";
    bool isAdmin = User.IsInRole("Administrator");
    // Pobierz słownik UserId - UserName z widoku
    var userIdToNameMap = ViewData["UserIdToNameMap"] as Dictionary<string, string>;
}
<h1>Wszystkie Zamówienia</h1>

@if (!Model.Any())
{
    <p>Brak dostępnych zamówień.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Data zamówienia</th>
                <th>Metoda dostawy</th>
                <th>Adres</th>
                <th>Status</th>
                <th>Suma</th>
                <th>Użytkownik</th> <!-- Dodaliśmy nagłówek kolumny dla użytkownika -->
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.OrderDate</td>
                    <td>@order.DeliveryMethod</td>
                    <td>@order.Address</td>
                    <td>@order.Status</td>
                    <td>@order.OrderItems.Sum(item => item.Quantity * item.Item.Price) zł</td> <!-- Dodaliśmy zł na końcu -->
                    <td>@userIdToNameMap[order.UserId]</td>
                    <td>
                        <a asp-controller="Order" asp-action="OrderConfirmation" asp-route-orderId="@order.Id" class="btn btn-info">Szczegóły</a>
                        @if (isAdmin)
                        {
                            <form asp-action="ChangeOrderStatus" asp-controller="Order" method="post">
                                <input type="hidden" name="id" value="@order.Id" />
                                <div class="form-group">
                                    <label for="status">Nowy status:</label>
                                    <select id="status" name="status" class="form-control">
                                        <option value="Nowe">Nowe</option>
                                        <option value="W trakcie">W trakcie</option>
                                        <option value="Gotowe do odbioru">Gotowe do odbioru</option>
                                        <option value="Gotowe do wysyłki">Gotowe do wysyłki</option>
                                        <option value="Wysłane">Wysłane</option>
                                        <option value="Zakończone">Zakończone</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Zmień status</button>
                            </form>
                        }
                        <form asp-controller="Order" asp-action="RemoveOrder" method="post">
                            <input type="hidden" name="id" value="@order.Id" />
                            <button type="submit" class="btn btn-danger">Usuń</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}