@model IEnumerable<PZ_Projekt.Models.Order>

@{
    ViewData["Title"] = "Moje Zamówienia";
}

<h1>Moje Zamówienia</h1>

@if (!Model.Any())
{
    <p>Nie masz żadnych zamówień.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Data zamówienia</th>
                <th>Metoda dostawy</th>
                <th>Adres</th>
                <th>Status</th>
                <th>Suma</th>
                <th>Szczegóły</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.OrderDate</td>
                    <td>@order.DeliveryMethod</td>
                    <td>@order.Address</td>
                    <td>@order.Status</td>
                    <td>@order.OrderItems.Sum(item => item.Quantity * item.Item.Price).ToString("C")</td>
                    <td>
                        <a asp-controller="Order" asp-action="OrderConfirmation" asp-route-orderId="@order.Id" class="btn btn-info">Szczegóły</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
