@model PZ_Projekt.Models.Order

@{
    ViewData["Title"] = "Potwierdzenie Zamówienia";
}

<h1>Potwierdzenie Zamówienia</h1>

<p>Dziękujemy za złożenie zamówienia!</p>

<h3>Szczegóły Zamówienia</h3>
<ul>
    <li>Data Zamówienia: @Model.OrderDate</li>
    <li>Metoda Dostawy: @Model.DeliveryMethod</li>
    <li>Adres: @Model.Address</li>
</ul>

<h3>Elementy</h3>
<ul>
    @foreach (var item in Model.OrderItems)
    {
        <li>@item.Item.Name - @item.Quantity x @item.Item.Price zł = @(item.Quantity * item.Item.Price) zł</li>
    }
</ul>
